<%- include('layout/header.ejs') %>

<style>
/*    .section_services {
        display: flex;
        grid-gap: 27px;
        padding: 10px;
    }
    .mainbackend {
        height: 100vh;
    }
    input {
        border: 1px solid #3333!important;
        color: #1c84c6!important;
    }
    input::placeholder {
        color: #1c84c6!important;
    }
    button.btn.btn-primary.mb-3.block.w-100 {
        background: #1c84c6;
    }
    .col-12.custom_input i {
        position: absolute;
        top: 0;
        border-right: 1px solid #3333;
        display: flex;
        height: 100%;
        align-items: center;
        width: 50px;
        justify-content: center;
        font-size: 23px;
        color: #3333;
    }
    .col-12.custom_input {
        position: relative;
    }
    .col-12.custom_input input {
        padding-left: 60px;
    }
    h5.card-title.custom_title_ {
        color: #5eb5ec;
    }

    .Provider_container { 
        background-color: white; 
        padding: 14px; 
        border-radius: 5px; 
    } 

    .Provider_container > header { 
        background-color: #13689f; 
        text-align: center; 
        padding: 5px; 
        margin-bottom: 20px; 
    } 

    .Provider_container h4 { 
        color: white; 
    } 

    .infoandsearch { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    } 

    .input-group.input-group-sm.mb-3 { 
        width: 40%; 
    } 

    .mainBackend th, .mainBackend td { 
        color: #1c84c6; 
        text-align: center; 
    } 

*/
.btn-primary:hover {
    color: #1c84c6;
    background-color: #ffffff;
    border-color: #81ceff;
}
.btn-primary {
    color: #fff;
    background-color: #1c84c6;
    border-color: #0b85d3;
}
.mainbackend table {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #cccccc!important;
}
.Games_container .gamesTable tr td img.gameCase {
    max-width: 100px;
    width: 100px;
    min-width: 100px;
}
.Games_container td.demoLink .gameDemo a {
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.Games_container td.demoLink {
    width: 300px;
    max-width: 300px;
}
.Games_container td.gameImages {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}
.Games_container table tr th {
    text-align: center;
}
.Games_container table tr td {
    text-align: center;
}
.Games_container .gamesTable td:last-child button {
    width: 100%;
    min-width: 55px;
}
.Users_container table tr th {
    text-align: center;
}
.Users_container table tr td {
    text-align: center;
}
.Users_container .userTable td:last-child button {
    width: 100%;
    min-width: 55px;
}
.col-12.custom_input i {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    left: 25px;
}
.col-12.custom_input {
    position: relative;
}

.col-12.custom_input input {
    padding-left: 40px;
    margin: 10px 0;
}

.services_button {
  padding-left:20px;
  display:flex;
  height:60px;
  grid-gap:10px;
}

.hidden {
  display: none!important;
}

.mainbackend {
    height: 100vh;
}

.Games_container {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 95px;
}

.infoandsearch h5 {
    font-size: 14px;
    font-weight: 400;
    color: #6d6d6d;
}

h4.card-title.custom_title_ {
    color: #1c84c6;
}

td.actions_box {
    display: flex;
    height: 60.69px;
}

td.actions_box button {
    background: transparent;
    border: 0;
    border-right: 1px solid #ccc;
}

button.deleteGameT i {
    color: red;
}

button#updateGame i {
    color: green;
}

.mainbackend table thead tr {
    background: #1c84c63b;
}

.mainbackend table thead tr th {
    color: #505050;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    padding: 10px;
}
.gIdhidden{
  display: none;
}

</style>
    <div class="mainbackend">
        <!-- Button trigger modal -->

        <div class="services_button">
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#registerModal">
            Register New User
            <i class="fa-solid fa-user-plus"></i>
          </button>
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#newGameModal">
            Add New Game
            <i class="fa-solid fa-gamepad-modern"></i>
          </button>
          <button id="allUser" type="button" class="btn btn-primary mt-2">
            Show All Users
            <i class="fa-solid fa-users"></i>
          </button>
          <button id="allGames" type="button" class="btn btn-primary mt-2">
            Show All Games
            <i class="fa-solid fa-slot-machine"></i>
          </button>
          <form action="/updategames" method="post" class="row">
                <button id="uploadGameList" type="submit" class="btn btn-primary mt-2">Test Upload GameList</button>
          </form>
        </div>

        <!-- Delete Game Modal -->
        <div class="modal fade" id="deleteGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Game? <i class="fa-solid fa-user-plus"></i></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/deleteGame" method="post" class="row">
                    <div class="col-12 gIdhidden">
                        <input type="text" class="form-control" id="gtodeleteid" name="gameid" value="" required>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger mb-3 block w-100">Yes, delete game</button>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Delete Game Modal -->
        <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete User? <i class="fa-solid fa-user-plus"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/deleteUser" method="post" class="row">
                  <div class="col-12 gIdhidden">
                      <input type="text" class="form-control" id="gtodeleteuserid" name="userid" value="" required>
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn btn-danger mb-3 block w-100">Yes, delete user</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register <i class="fa-solid fa-user-plus"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/register" method="post" class="row">
                  <div class="col-12 custom_input">
                      <label for="staticEmail2" class="visually-hidden">Email</label>
                      <input type="text" class="form-control" id="staticEmail2" name="email" placeholder="email@example.com" required>
                      <i class="fa-regular fa-envelope"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="staticUsername" class="visually-hidden">Username</label>
                      <input type="text" class="form-control" id="staticUsername" name="username" placeholder="Username" required>
                      <i class="fa-regular fa-user-alien"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="inputPassword2" class="visually-hidden">Password</label>
                      <input type="password" class="form-control" id="inputPassword2" name="password" placeholder="Password" required>
                      <i class="fa-regular fa-key"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="inputPassword3" class="visually-hidden">Confirm Password</label>
                      <input type="password" class="form-control" id="inputPassword3" name="confpassword" placeholder="Confirm Password" required>
                      <i class="fa-regular fa-lock"></i>
                  </div>
                  <div class="col-12">
                  <button type="submit" class="btn btn-primary mb-3 block w-100">Register user</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Add new game modal -->
        <div class="modal fade" id="newGameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Game <i class="fa-solid fa-slot-machine"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/addgame" method="post" class="row">
                  <div class="col-12 custom_input">
                      <label for="staticgame_name" class="visually-hidden">Game Name</label>
                      <input type="text" class="form-control" id="staticgame_name" name="game_name" placeholder="Game Name"  required>
                      <i class="fa-regular fa-game-console-handheld"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="staticpv_code" class="visually-hidden">Image Url</label>
                      <input type="text" class="form-control" id="staticimg_url" name="image" placeholder="Image link" required>
                      <i class="fa-regular fa-image"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="inputcode_to_open_game" class="visually-hidden">Provider</label>
                      <input type="text" class="form-control" id="inputprovider" name="provider" placeholder="Provider" required>
                      <i class="fa-regular fa-handshake"></i>
                  </div>
                  <div class="col-12 custom_input">
                      <label for="inputgame_group" class="visually-hidden">Demo link</label>
                      <input type="text" class="form-control" id="inputdemo_link" name="demo" placeholder="Demo link" required>
                      <i class="fa-solid fa-desktop"></i>
                  </div>
                  <div class="col-12">
                  <button type="submit" class="btn btn-primary mb-3 block w-100">Add new game</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3">
            <div class="row">
                <div>
                    <div class="Users_container hidden">
                        <header>
                            <h4 class="card-title custom_title_">Users</h4>
                        </header>
                        <div class="infoandsearch">
                          <h5 class="card-title custom_title_">All users: <span class="allUsersLength"></span></h5>
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                              </div>
                              <input type="text" class="form-control searchUsers" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>          
                          </div>
                          <table class="table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Password</th>
                                <th scope="col">Delete</th>
                              </tr>
                            </thead>
                            <tbody class="userTable">
                              <!-- Dynamic Users Loading... -->
                              </tbody>
                            </table>
                          </div>
                </div>
                <div>
                    <div class="Games_container">
                        <header>
                            <h4 class="card-title custom_title_">Game List</h4>
                        </header>
                        <div class="infoandsearch">
                            <h5 class="card-title custom_title_">Numero totale di giochi: <span class="allGamesLength"></span></h5>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control searchGames" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>                               
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Provider</th>
                                    <th scope="col">Demo link</th>
                                    <th scope="col">Actions</th>
                                </tr>
                        </thead>
                        <tbody class="gamesTable">
                            <!-- Dynamic Games Loading... -->
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('layout/footer.ejs') %>

<script>

  // All users and All games click function
  $(document).off('click', '#allUser');
  $(document).on('click', '#allUser', function(){
    console.log('all Users clicked');
    $('.Games_container').addClass('hidden');
    $('.Users_container').removeClass('hidden');
  });

  $(document).off('click', '#allGames');
  $(document).on('click', '#allGames', function(){
    console.log('all Users clicked');
    $('.Users_container').addClass('hidden');
    $('.Games_container').removeClass('hidden');
  });

</script>

<% if(totalgames.length >= 1){ %>
    <% if(totalgames !== 'undefined'){ %>
      <script>
        $(document).ready(function () {
          var game_list = <%-JSON.stringify(totalgames)%>;
          console.log(game_list);
          if(game_list){
            if(game_list.length >= 1){
              $('.allGamesLength').html(game_list.length);
              for(var i = 0;i < game_list.length;i++){
                  $('.gamesTable').append('<tr><td class="gameImages"><img class="gameCase" src="'+game_list[i].image+'" class="img-fluid img-thumbnail" alt="Game" /></td><td><span class="gameName">'+game_list[i].name+'</span> </td> <td> <span class="gameProvider">'+game_list[i].provider+'</span></td><td class="demoLink"><span class="gameDemo"><a href="'+game_list[i].demo+'" target="_blank">'+game_list[i].demo+'</a></span></td><td class="actions_box"><button class="deleteGameT" realObjid="'+game_list[i]._id+'" type="button" data-bs-toggle="modal" data-bs-target="#deleteGame"><i class="fa-solid fa-trash"></i></button><button id="updateGame"><i class="fa-solid fa-file-pen"></i></button></td></tr><tr>');
              }

            }
          }

          $(".searchGames").keyup(function () {
                var data = this.value.toUpperCase().split(" ");
                var jo = $(".gamesTable").find("tr");
                if (this.value == "") {
                    jo.show();
                    return;
                }
                jo.hide();

                jo.filter(function (i, v) {
                    var txt = '';
                    $(v).find("td:nth-child(2)").children().each(function(n,e){
                        txt += $(e).html().toLocaleUpperCase();
                    });
                    for(var d=0; d<data.length; d++){
                        if (txt.search(data[d])>=0) {
                            return true;
                        }
                    }
                    return false;
                })
                .show();
            });

            $(".deleteGameT").on('click',function(){
                console.log("Delete Games Triggered");
                var gametodestroyid = $(this).attr('realObjid').toString();
                console.log("id: ", gametodestroyid);
                setTimeout(function(){
                  $('#gtodeleteid').html(gametodestroyid);
                    $('#gtodeleteid').val(gametodestroyid);
                    $('#gtodeleteid').attr('value',gametodestroyid)
                    console.log($('#gtodeleteid').val());
                }, 500);
            });

        });
      </script>
    <% } %>
  <% } %>

  <% if(allUsers.length >= 1){ %>
    <% if(allUsers !== 'undefined'){ %>
      <script>
        $(document).ready(function () {
            var allUsers =  <%- JSON.stringify(allUsers)%>;
            console.log(allUsers);
            if(allUsers){
                if(allUsers.length >= 1){
                $('.allUsersLength').html(allUsers.length);
                for(var i = 0;i < allUsers.length;i++){
                    $('.userTable').append('<tr><td><span class="userName">'+allUsers[i].username+'</span></td><td><span class="userEmail">'+allUsers[i].email+'</span></td><td><span class="userType">'+allUsers[i].usertype+'</span></td><td class="usersPasswords"><span class="userPassword">'+allUsers[i].password+'</span></td><td><button class="deleteUserT" realObjid="'+allUsers[i]._id+'" type="button" data-bs-toggle="modal" data-bs-target="#deleteUser"><i class="fa-solid fa-trash"></i></button></td></tr>');
                }
                }
            }

            $(".searchUsers").keyup(function () {
                var data = this.value.toUpperCase().split(" ");
                var jo = $(".userTable").find("tr");
                if (this.value == "") {
                    jo.show();
                    return;
                }
                jo.hide();

                jo.filter(function (i, v) {
                    var $t = $(this).find("td").first().children(0).html().toUpperCase();
                    for (var d = 0; d < data.length; ++d) {
                        if ($t.indexOf(data[d]) !== -1) {
                            return true;
                        }
                    }
                    return false;
                })
                .show();
            });

            $(".deleteUserT").on('click',function(){
                console.log("Delete User Triggered");
                var usertodestroyid = $(this).attr('realObjid').toString();
                console.log("id: ", usertodestroyid);
                setTimeout(function(){
                  $('#gtodeleteuserid').html(usertodestroyid);
                    $('#gtodeleteuserid').val(usertodestroyid);
                    $('#gtodeleteuserid').attr('value',usertodestroyid)
                    console.log($('#gtodeleteuserid').val());
                }, 500);
            });
        });
      </script>
    <% } %>
  <% } %>
