/* MAIN HEADER CSS */

/* Temp Style */
.mainContent {
  min-height: 100%;
}

body {
  background: #ddd !important;
}

li.part-item.game img {
  max-width: 300px;
  width: 300px;
  min-width: 300px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

/* Header Style */
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
  align-items: center;
}
#navbarSupportedContent form.row {
  height: 40px !important;
  display: flex;
  flex-direction: row;
}
#navbarSupportedContent form.row .col-auto {
  height: 40px !important;
}
.navbar-brand img {
  width: 120px;
  max-width: 120px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c9c9c9;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-weight: 700;
}
.logUserd {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
}

/* General Style */
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1575px;
}

/* Footer Style */
.mainFooter {
  min-height: 73px;
  background: #1c84c6;
  position: static;
  min-width: 100%;
  margin-top: 85px;
  color: #fff;
  max-height: 73px;
  max-width: 100%;
  bottom: 0px;
}
.navbar_custom {
  background: #1c84c6;
  position: sticky;
  top: 0;
  z-index: 9;
}

/* SIDEBAR CSS */

.main_sidebar i {
  font-size: 20px;
  align-items: center;
}
.main_sidebar a {
  text-align: center;
}

/* BACKEND CSS */

.registerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}
.registerBox .card {
  height: 90%;
}
.registerBox .card-body h5 {
  text-align: center;
}
.registerBox form .col-12 {
  margin-top: 10px;
}
.registerBox form .col-12:last-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}
.registerGameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}
.registerGameBox .card {
  height: 90%;
}
.registerGameBox .card-body h5 {
  text-align: center;
}
.registerGameBox form .col-12 {
  margin-top: 10px;
}
.registerGameBox form .col-12:last-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

/* INDEX CSS */

.login_container {
  height: 100vh;
  background: #f3f3f4;
}
.login_container form {
  width: 503px;
  max-width: 503px;
  min-width: 503px;
}
.header_login {
  display: flex;
  height: 77px;
  background: #1c84c6;
  align-items: center;
  padding-left: 10px;
  border-radius: 3px 3px 0 0;
}
.inputBox {
  display: flex;
  flex-direction: column;
}
.siteLogo {
  width: 165px;
  height: 50px;
}
.input_login {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: #1c84c6;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
  outline: none;
}
.input_login::placeholder,
.inputBox label {
  color: #1c84c6;
  font-weight: 400;
}
.inputBox label {
  font-size: 12px;
}
.input_container {
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
p.mt-5.mb-3.text-muted.justify-content-center.copyrigth {
  font-size: 11px;
  justify-content: center;
  width: 100%;
}
.login_button {
  background: #1c84c6;
  display: flex;
  width: 97% !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  font-size: 12px;
  margin-top: 35px !important;
}
.main_container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.mainContent {
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 5px;
}
.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #1c84c6;
  border-radius: 10px;
}

.partners,
.filtered_partners {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
  grid-gap: 5px;
  margin-top: 10px;
  padding-bottom: 20px;
}

li.partner-item {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px;
  height: 120px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}

li.partner-item:hover span.partner-title {
  display: flex;
  transition: 0.7s all ease-in-out;
}

li.partner-item:hover img {
  transform: scale(1.2);
  transition: 0.3s all ease-in-out;
}

.partner-item img {
    background-size: contain;
    width: 77%;
    height: 70px;
    min-width: 140px;
}

span.partner-title {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #33333394;
  color: var(--white);
  align-items: center;
  height: 52px;
  text-transform: capitalize;
  position: absolute;
  border-radius: 50px;
  text-shadow: 1px 1px 1px black;
  display: none;
}



.sidebar_container {
  position: fixed;
  border-radius: 0 0 10px 0;
  overflow: hidden;
}

.headSection {
  display: flex;
  margin-left: 5%;
  background: white;
  color: #2f99dc;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  box-shadow: 5px 1px 22px -12px black;
  margin-bottom: 12px;
  text-transform: uppercase;
  transition: 0.4s all ease-out;
}

.second_nav {
  display: flex;
  padding: 10px;
  background: var(--darkligth);
  position: sticky;
  top: 0;
  margin-left: 4%;
  transition: 0.4s all ease-out;
}

.headSection h3 {
  font-size: 20px;
  font-weight: 100;
}

.second_nav button {
  padding: 10px;
  background: #1c84c6;
  color: #fff;
  border: 0;
  border-radius: 3px;
  margin-left: 20px;
}

a.nav-link.py-3.border-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li.nav-item:hover,
li.nav_item:hover {
  background: #eee;
  transition: 0.4s ease-out;
}

.crumbs {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 100%;
}

.second_navClose {
  height: 0;
}

.sidebar {
  display: flex;
  height: 100vh;
  width: 80%;
  border: 1px solid #333 !important;
  flex-direction: column;
}

.main_section.d-flex {
  flex-direction: column;
  width: 100%;
}

a.d-block.p-3.link-dark.text-decoration-none {
  display: flex;
  width: 100%;
}

span.user_name {
  color: #1c84c6;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

li.nav_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-container {
  display: flex;
  background: #ddd;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 3%;
  transition:0.4s ease-out;
}

span.providerCounter,
span.gamesCounter {
  color: #fff;
  font-size: 12px;
}

.gamesCounter,
.providerCounter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding-left: 10px;
}

.providerCounterBox,
.gamesCounterBox {
  display: flex;
  border-bottom: 1px solid #333;
}

.providerC,
.gamesC {
  color: #fff;
  padding: 2px;
  display: flex;
  align-items: center;
  border-left: 1px dotted #333;
  height: 30px;
  width: 40px;
  justify-content: center;
}

.menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}
